.level {
  display: flex;
  flex-direction: row;
  //align-items: flex-start;
  align-items: stretch;
  justify-content: center;
}

.levelItem {
  text-align: center;
  color: #d0d0e2;
  padding: 8px;
  height: 55px; /* Or whatever */
  width: 100%;  /* Or whatever */
  margin: auto;  /* Magic! */
  box-sizing: border-box;
  min-height: 55px;
}

.lightBlueHover {
  :hover {
    background-color: #6e6ea6; // #ababcb;
  }
}

.levelItemWrapper {
  //width: 100%;  /* Or whatever */
  margin: 10px;  /* Magic! */
  border: 2px solid black;
  cursor: pointer;

  @extend .lightBlueHover;
}

.levelItemTitle {
  font-size: medium;
}

.levelItemDescription {
  font-size: small;
}

.loadingElement {
  text-align: center;
  color: white;
}

.exportDocument {
  text-align: center;
  margin: auto;
  width: calc(100% - 100px);
  min-height: 200px;
}

.circleButton {
  border-radius: 50%;
  padding: 10px;
  border-style: solid;
  border-color: black;
  color: black;
  width: 25px;
  cursor: pointer;
  text-align: center;
  margin: auto;

  @extend .lightBlueHover;
}

.addMoreItemsButton {
  @extend .circleButton;
}

.mainTitle {
  text-align: center;
  color: white;
}

